In [5]:
import pandas as pd

In [6]:
df = pd.read_pickle('appml-assignment1-dataset-v2.pkl')

In [7]:
df_x = pd.DataFrame(df['X'])
df_y = pd.Series(df['y'])

In [8]:
df_x.columns

df_x['y'] = df_y

# EDA Questions
* Sort all of the data by date. Find the correllation coefficients between CAD-high and other currencies' highs. 
* There are 47 currencies.

In [9]:
df_x.describe()

,CAD-open,CAD-high,CAD-low,CAD-close,CHF-open,CHF-high,CHF-low,CHF-close,CNH-open,CNH-high,...,VGK-close,VIX-open,VIX-high,VIX-low,VIX-close,ZCN-open,ZCN-high,ZCN-low,ZCN-close,y
count,39640.000000,39640.000000,39640.000000,39640.000000,39640.000000,39640.000000,39640.000000,39640.000000,36254.000000,36254.000000,...,39627.000000,39627.000000,39627.000000,39627.000000,39627.000000,39608.000000,39608.000000,39608.000000,39608.000000,39640.000000
mean,1.209977,1.210739,1.209219,1.209983,0.960916,0.961573,0.960231,0.960916,6.501766,6.503579,...,52.794529,15.186952,15.325475,15.039155,15.178598,19.580117,19.593662,19.563919,19.578553,1.210742
std,0.132527,0.132654,0.132395,0.132525,0.036159,0.036151,0.036195,0.036163,0.315308,0.315965,...,4.870775,3.757955,3.859156,3.661835,3.764417,2.029194,2.029591,2.028042,2.028052,0.132651
min,0.964425,0.965500,0.964150,0.965125,0.849125,0.855985,0.716080,0.839240,6.017270,6.018200,...,38.490000,8.560000,9.050000,8.560000,8.960000,15.140000,15.140000,15.140000,15.140000,0.965150
25%,1.072693,1.073121,1.072319,1.072730,0.933475,0.934274,0.932750,0.933525,6.209200,6.210156,...,49.060000,12.660000,12.730000,12.580000,12.660000,17.870000,17.910000,17.860000,17.880000,1.073166
50%,1.272825,1.273630,1.271975,1.272850,0.968163,0.968855,0.967440,0.968187,6.483350,6.485518,...,53.250000,14.290000,14.400000,14.180000,14.290000,19.960000,19.970000,19.940000,19.960000,1.273640
75%,1.318806,1.319645,1.318035,1.318840,0.990840,0.991405,0.990246,0.990835,6.793290,6.795947,...,56.680000,16.860000,17.030000,16.710000,16.850000,21.070000,21.072500,21.050000,21.070000,1.319656
max,1.468475,1.468990,1.463805,1.464735,1.033430,1.033525,1.030845,1.031710,7.194995,7.197400,...,63.500000,49.210000,49.210000,49.210000,49.210000,23.810000,23.820000,23.810000,23.810000,1.468995

In [10]:
df_x.isna().sum()

date          0
CAD-open      0
CAD-high      0
CAD-low       0
CAD-close     0
             ..
ZCN-open     32
ZCN-high     32
ZCN-low      32
ZCN-close    32
y             0
Length: 190, dtype: int64

# Stripping out the date

In [11]:
df_x['date']

0       2015-01-14 17:15:00
1       2014-05-12 19:00:00
2       2017-11-29 19:00:00
3       2014-04-09 03:00:00
4       2020-01-02 12:00:00
                ...
39635   2014-04-02 14:00:00
39636   2015-12-31 13:00:00
39637   2017-04-04 17:15:00
39638   2016-06-21 02:00:00
39639   2015-06-16 03:00:00
Name: date, Length: 39640, dtype: datetime64[ns]

In [12]:
df_x.dtypes

date         datetime64[ns]
CAD-open            float64
CAD-high            float64
CAD-low             float64
CAD-close           float64
                  ...
ZCN-open            float64
ZCN-high            float64
ZCN-low             float64
ZCN-close           float64
y                   float64
Length: 190, dtype: object

In [30]:
df_x['day_of_week'] = df_x['date'].dt.dayofweek
df_x['m'] = df_x['date'].dt.month
df_x['y'] = df_x['date'].dt.year
df_x['quarter'] = df_x['date'].dt.quarter
df_x['hour'] = df_x['date'].dt.hour
df_x['minute'] = df_x['date'].dt.minute

In [31]:
df_x = df_x.sort_values(by='date')

In [32]:
df_x

,date,CAD-open,CAD-high,CAD-low,CAD-close,CHF-open,CHF-high,CHF-low,CHF-close,CNH-open,...,ZCN-open,ZCN-high,ZCN-low,ZCN-close,day_of_week,m,y,quarter,hour,minute
37983,2012-01-26 17:15:00,1.001925,1.002150,1.001500,1.001875,0.920800,0.921025,0.920325,0.920825,NaN,...,NaN,NaN,NaN,NaN,3,1,2012,1,17,15
12901,2012-01-26 20:00:00,1.003425,1.003575,1.002750,1.002950,0.922375,0.922575,0.921300,0.921475,NaN,...,NaN,NaN,NaN,NaN,3,1,2012,1,20,0
4784,2012-01-26 21:00:00,1.002950,1.003150,1.002200,1.002375,0.921475,0.921725,0.920925,0.921100,NaN,...,NaN,NaN,NaN,NaN,3,1,2012,1,21,0
30057,2012-01-26 22:00:00,1.002375,1.002450,1.001600,1.002325,0.921100,0.921400,0.920325,0.921275,NaN,...,NaN,NaN,NaN,NaN,3,1,2012,1,22,0
17047,2012-01-26 23:00:00,1.002325,1.004075,1.002000,1.003650,0.921275,0.921675,0.920675,0.921125,NaN,...,NaN,NaN,NaN,NaN,3,1,2012,1,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19025,2020-01-24 08:00:00,1.313840,1.313845,1.311840,1.312520,0.971385,0.971415,0.969680,0.969715,6.929105,...,23.77,23.78,23.77,23.78,4,1,2020,1,8,0
9613,2020-01-24 09:00:00,1.312520,1.314240,1.312415,1.313885,0.969715,0.970835,0.969520,0.970565,6.926875,...,23.77,23.78,23.77,23.78,4,1,2020,1,9,0
36522,2020-01-24 10:00:00,1.313885,1.314075,1.312505,1.313795,0.970565,0.971225,0.969975,0.970790,6.927845,...,23.81,23.81,23.78,23.78,4,1,2020,1,10,0
27408,2020-01-24 13:00:00,1.314210,1.314740,1.314030,1.314380,0.970760,0.971000,0.970535,0.970840,6.930950,...,23.72,23.72,23.70,23.70,4,1,2020,1,13,0
4347,2020-01-24 14:00:00,1.314380,1.315345,1.313950,1.314245,0.970840,0.970930,0.970270,0.970785,6.934810,...,23.70,23.70,23.67,23.67,4,1,2020,1,14,0

In [35]:
# List of all columns in the dataframe
all_columns = df_x.columns

# Extract columns with "-high" suffix
high_columns = [col for col in all_columns if '-high' in col]

# Include the 'date' column
selected_columns = ['date'] + high_columns + "y"

# Create the subdataframe
sub_df = df_x[selected_columns]

In [42]:
correlations_highs = sub_df.corrwith(sub_df['y']).drop('y')

C:\Users\Charl\AppData\Local\Temp\ipykernel_27244\2628395607.py:1: FutureWarning: The default value of numeric_only in DataFrame.corrwith is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlations = sub_df.corrwith(sub_df['CAD-high']).drop('CAD-high')

In [47]:
correlations.sort_values()

USO-high     -0.948510
EUR-high     -0.881347
EWW-high     -0.863921
RSX-high     -0.800765
GBP-high     -0.785632
EWZ-high     -0.778187
EWA-high     -0.734393
ERUS-high    -0.726799
EWS-high     -0.709463
EZA-high     -0.661018
EWU-high     -0.590895
RVX-high     -0.128061
EWD-high     -0.097564
EWY-high     -0.030440
ILS-high     -0.004514
VIX-high      0.031321
TYVIX-high    0.146854
VGK-high      0.192938
DVS-high      0.237896
FXI-high      0.271497
EWG-high      0.333522
VCN-high      0.343567
EZU-high      0.361749
OVX-high      0.490112
HKD-high      0.521632
EWL-high      0.555448
EWH-high      0.583903
EIS-high      0.667723
ZCN-high      0.685945
EWJ-high      0.709805
CHF-high      0.748888
IWM-high      0.751646
CNH-high      0.770719
JPY-high      0.777940
HXT-high      0.777958
SPX-high      0.785037
SPY-high      0.785049
CZK-high      0.841909
DKK-high      0.881937
PLN-high      0.893484
MXN-high      0.913571
SEK-high      0.928024
HUF-high      0.939272
SGD-high      0.943176
RUB-high      0.965023
NOK-high      0.976375
dtype: float64

# Calculating Ranges

In [49]:
currencies = set([col.split('-')[0] for col in df_x.columns if '-high' in col or '-low' in col])

for currency in currencies:
    high_col = f"{currency}-high"
    low_col = f"{currency}-low"
    diff_col = f"{currency}-volatility"
    df_x[diff_col] = df_x[high_col] - df_x[low_col]

In [51]:
all_columns = df_x.columns

# Extract columns with "-high" suffix
vol_columns = [col for col in all_columns if '-volatility' in col]

# Include the 'date' column
selected_columns = ['date'] + vol_columns

# Create the subdataframe
sub_df = df_x[selected_columns]

In [52]:
correlations_vol = sub_df.corrwith(sub_df['CAD-volatility']).drop('CAD-volatility')

C:\Users\Charl\AppData\Local\Temp\ipykernel_27244\2446932787.py:1: FutureWarning: The default value of numeric_only in DataFrame.corrwith is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlations_vol = sub_df.corrwith(sub_df['CAD-volatility']).drop('CAD-volatility')

In [56]:
correlations_vol.sort_values(ascending=False)

DKK-volatility      0.609742
NOK-volatility      0.604727
MXN-volatility      0.571487
SEK-volatility      0.570032
EUR-volatility      0.560057
CZK-volatility      0.559390
HUF-volatility      0.538222
SGD-volatility      0.509594
PLN-volatility      0.503435
GBP-volatility      0.482648
JPY-volatility      0.449005
RUB-volatility      0.336757
CHF-volatility      0.335597
ILS-volatility      0.308038
EWG-volatility      0.272050
EZU-volatility      0.266097
EWL-volatility      0.265309
VGK-volatility      0.258974
VIX-volatility      0.252000
EWU-volatility      0.251639
VCN-volatility      0.242428
EWA-volatility      0.235542
EZA-volatility      0.219908
EWD-volatility      0.208523
USO-volatility      0.203372
HXT-volatility      0.194277
CNH-volatility      0.193827
ZCN-volatility      0.191598
FXI-volatility      0.182840
EWJ-volatility      0.178232
IWM-volatility      0.177256
EWW-volatility      0.151819
SPX-volatility      0.151578
RVX-volatility      0.143274
HKD-volatility      0.136100
EWH-volatility      0.128676
ERUS-volatility     0.127423
SPY-volatility      0.127171
RSX-volatility      0.122243
EWY-volatility      0.115888
EWS-volatility      0.108823
TYVIX-volatility    0.106171
EWZ-volatility      0.097692
OVX-volatility      0.091081
EIS-volatility      0.085321
DVS-volatility           NaN
dtype: float64

In [58]:
print(currencies)

{'MXN', 'OVX', 'EZU', 'JPY', 'EWY', 'SEK', 'SPX', 'VGK', 'CZK', 'DKK', 'RVX', 'CHF', 'DVS', 'EUR', 'GBP', 'USO', 'EWL', 'HXT', 'ERUS', 'CNH', 'EWS', 'CAD', 'EIS', 'EWD', 'HUF', 'RUB', 'VCN', 'TYVIX', 'EWH', 'EWJ', 'EWU', 'EWA', 'EWG', 'ZCN', 'SPY', 'VIX', 'SGD', 'NOK', 'IWM', 'EWW', 'HKD', 'FXI', 'ILS', 'RSX', 'EZA', 'EWZ', 'PLN'}

## Currencies:

- **MXN**: Mexican Peso
- **JPY**: Japanese Yen
- **SEK**: Swedish Krona
- **CZK**: Czech Koruna
- **DKK**: Danish Krone
- **CHF**: Swiss Franc
- **EUR**: Euro
- **GBP**: British Pound Sterling
- **CNH**: Chinese Yuan (Offshore)
- **CAD**: Canadian Dollar
- **HUF**: Hungarian Forint
- **RUB**: Russian Ruble
- **SGD**: Singapore Dollar
- **NOK**: Norwegian Krone
- **HKD**: Hong Kong Dollar
- **ILS**: Israeli New Shekel
- **PLN**: Polish Zloty

## National/Regional Index Funds:

- **EWY**: iShares MSCI South Korea ETF
- **VGK**: Vanguard FTSE Europe ETF
- **EWL**: iShares MSCI Switzerland ETF
- **ERUS**: iShares MSCI Russia ETF
- **EWS**: iShares MSCI Singapore ETF
- **EIS**: iShares MSCI Israel ETF
- **EWD**: iShares MSCI Sweden ETF
- **VCN**: Vanguard FTSE Canada All Cap ETF
- **EWH**: iShares MSCI Hong Kong ETF
- **EWJ**: iShares MSCI Japan ETF
- **EWU**: iShares MSCI United Kingdom ETF
- **EWA**: iShares MSCI Australia ETF
- **EWG**: iShares MSCI Germany ETF
- **IWM**: iShares Russell 2000 ETF
- **EWW**: iShares MSCI Mexico ETF
- **FXI**: iShares China Large-Cap ETF
- **RSX**: VanEck Vectors Russia ETF
- **EZA**: iShares MSCI South Africa ETF
- **EWZ**: iShares MSCI Brazil ETF
- **EZU**: iShares MSCI Eurozone ETF
- **HXT**: Horizons S&P/TSX 60 Index ETF [Canada]
- **SPY**: SPDR S&P 500 ETF Trust [US]
- **RVX**: Russell 2000 Volatility Index [US]'
- **SPX**: S&P 500 stock index

## Industry Index Funds:
- **USO**: United States Oil Fund ETF
- **OVX**: Crude Oil Volatility Index

## Treasuries:

- **TYVIX**: 10-year Treasury Note Volatility Index

## Other:
- **DVS**: Not widely recognized; verify context
- **ZCN**: Not widely recognized; verify context
- **VIX**: CBOE Volatility Index

# Canada's Trading Partners
| Rank | Territory          | Exports    | Imports    | Total trade | Trade balance  |
|------|---------------------|------------|------------|-------------|----------------|
| -    | World              | 592,552.8  | 601,303.7  | 1,193,856.5 | -8,750.9       |
| 1    | United States      | 446,950.5  | 304,845.3  | 751,795.8   | +142,105.2     |
| -    | European Union     | 48,196.4   | 77,197.9   | 125,394.3   | -29,001.5      |
| 2    | China              | 23,249.1   | 74,992.7   | 98,241.9    | -51,743.6      |
| 3    | Mexico             | 7,319.4    | 36,911.9   | 44,231.3    | -29,592.5      |
| 4    | Japan              | 12,522.8   | 16,518.1   | 29,040.8    | -3,995.3       |
| 5    | United Kingdom     | 19,807.5   | 9,191.9    | 28,999.5    | +10,615.6      |
| 6    | Germany            | 6,293.1    | 19,224.4   | 25,517.6    | -12,931.3      |
| 7    | South Korea        | 5,485.0    | 9,620.0    | 15,105.0    | -4,135.0       |
| 8    | Italy              | 3,241.0    | 9,452.6    | 12,693.5    | -6,211.6       |
| 9    | France             | 3,636.1    | 8,687.8    | 12,323.9    | -5,051.7       |
| 10   | India              | 4,782.1    | 5,457.1    | 10,239.3    | -675.0         |
| 11   | Netherlands        | 5,183.5    | 4,663.7    | 9,847.3     | +519.8         |
| 12   | Belgium            | 3,118.2    | 4,963.1    | 8,081.3     | -1,844.9       |
| 13   | Taiwan             | 2,040.6    | 5,968.0    | 8,008.6     | -3,927.4       |
| 14   | Vietnam            | 993.1      | 6,986.0    | 7,979.1     | -5,992.9       |
| 15   | Brazil             | 2,254.0    | 5,398.1    | 7,652.1     | -3,144.1       |
| 16   | Switzerland        | 1,434.4    | 4,946.0    | 6,380.4     | -3,511.6       |
| 17   | Saudi Arabia       | 2,819.1    | 3,294.6    | 6,113.7     | -475.5         |
| 18   | Spain              | 1,503.8    | 3,477.5    | 4,981.3     | -1,973.7       |
| 19   | Thailand           | 895.1      | 3,744.1    | 4,639.2     | -2,849.0       |
| 20   | Australia          | 2,257.5    | 2,337.0    | 4,594.5     | -79.5          |
| -    | Rest of the world  | 36,766.9   | 60,623.8   | 97,390.4    | -23,856.9      |